* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0%;
}

.topnav {
    background-color: rgb(31, 31, 31);
    overflow: hidden;
}

    .topnav img {
        float: left;
        padding: 10px;
        padding-left: 50px;
    }

    .menu {
        float: left;
        cursor: pointer;
        padding: 5px;
        padding-top: 13px;
        padding-left: 20px;
    }

        .b1, .b2, .b3 {
            width: 35px;
            height: 5px;
            background-color: #f2f2f2;
            margin: 6px 0;
            transition: 0.4s;
        }

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
  
        .sidenav a:hover {
            color: #f2f2f2;
        }

        .sidenav a.active {
            background-color: #8f8f8f;
            color: #1a1919;
        }
  
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

#main {
    transition: margin-left .5s;
}

.promo {
    max-width: 1000px;
    max-height: 800px;
    position: relative;
    margin: 0 auto;
}

    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }
  
        .prev:hover, .next:hover {
            background-color: rgba(0,0,0,0.8);
        }

        .fade {
            animation-name: fade;
            animation-duration: 1.5s;
        }

        @keyframes fade {
            from {opacity: .4} 
            to {opacity: 1}
        }
        
        .promo img {
            vertical-align: middle;
            width: 100%;
            height: 100%;
        }

        .box-transparent {
            position: absolute;
            bottom : 0;
            background-color: rgba(0, 0, 0, 0.5);
            color : #f2f2f2;
            width: 100%;
            padding: 20px;
        }

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
    .active, .dot:hover {
        background-color: #717171;
    }