* {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0%;
}

.topnav {
    background-color: rgb(31, 31, 31);
    overflow: hidden;
}

    .topnav img {
        float: left;
        padding: 10px;
        padding-left: 50px;
    }

    .menu {
        float: left;
        cursor: pointer;
        padding: 5px;
        padding-top: 13px;
        padding-left: 20px;
    }

        .b1, .b2, .b3 {
            width: 35px;
            height: 5px;
            background-color: #f2f2f2;
            margin: 6px 0;
            transition: 0.4s;
        }

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
  
        .sidenav a:hover {
            color: #f2f2f2;
        }

        .sidenav a.active {
            background-color: #8f8f8f;
            color: #1a1919;
        }
  
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

#main {
    transition: margin-left .5s;
}

.promo {
    max-width: 100%;
    max-height: 70%;
    position: relative;
    margin: 0 auto;
}

    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }
  
        .prev:hover, .next:hover {
            background-color: rgba(0,0,0,0.8);
        }

        .fade {
            animation-name: fade;
            animation-duration: 1.5s;
        }

        @keyframes fade {
            from {opacity: .4} 
            to {opacity: 1}
        }
        
        .promo img {
            vertical-align: middle;
            width: 100%;
            height: 100%;
        }

        .box-transparent {
            position: absolute;
            bottom : 0;
            background-color: rgba(0, 0, 0, 0.5);
            color : #f2f2f2;
            width: 100%;
            padding: 20px;
        }

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
    .active, .dot:hover {
        background-color: #717171;
    }

.new-header {
    color: #f6d129;
    margin-left: 50px;
    position: relative;
}

.new-release-container{
    padding-left: 42px;
}

    .column {
        float: left;
        width: 140px;
        margin-bottom: 16px;
        padding: 0 8px;
    }
        .card {
            background-color: rgb(37, 36, 36);
        }

            .card img {
                width: 100%;
            }

            .desc-box {
                padding: 16px;
                padding-top: 0px;
            }

                .movie-title {
                    color: #f2f2f2;
                    font-size: smaller;
                }

                .link {
                    border-radius: 4px;
                    background-color: #f6d129;
                    border: none;
                    color: #181717;
                    text-align: center;
                    font-size: 10px;
                    padding: 10px;
                    width: 100%;
                    transition: all 0.5s;
                    cursor: pointer;
                }

                    .link span, .plot span {
                        cursor: pointer;
                        display: inline-block;
                        position: relative;
                        transition: 0.5s;
                    }
                    
                    .link span:after, .plot span:after {
                        content: '\00bb';
                        position: absolute;
                        opacity: 0;
                        top: 0;
                        right: -20px;
                        transition: 0.5s;
                    }
                    
                    .link:hover span, .plot:hover span {
                        padding-right: 25px;
                    }
                    
                    .link:hover span:after, .plot:hover span:after{
                        opacity: 1;
                        right: 0;
                    }

                .plot {
                    border-radius: 4px;
                    background-color: #000000;
                    border: none;
                    color: #f2f2f2;
                    text-align: center;
                    font-size: 10px;
                    padding: 10px;
                    width: 100%;
                    transition: all 0.5s;
                    cursor: pointer;
                    margin-top: 8px;
                }
